{% for pool, config in data['dhcp']['dhcp-pools'].items() %}
  {% if config == {} %}
no ip dhcp pool {{ pool }}
!
  {% else %}
ip dhcp pool {{ pool }}
   {% if 'domain-name' in config %}
   no domain-name {{ config['domain-name'] }}
   {% endif %}

   {% if 'default-gateway' in config %}
   no default-router {{ config['default-gateway'] }}
   {% endif %}

   {% if 'lease-time' in config %}
   no lease {{ config['lease-time'] }}
   {% endif %}

   {% if 'dns-server' in config %}
   no dns-server {{ config['dns-server'] }}
   {% endif %}

   {% if 'network' in config and 'address' in config['network'] and 'mask' in config['network'] %}
   no network {{ config['network']['address'] }} {{ config['network']['mask'] }}
   {% endif %}

   {% if 'subnet' in config and 'prefix-length' in config['subnet'] %}
   no subnet prefix-length {{ config['subnet']['prefix-length'] }}
   {% endif %}
!
 {% endif %}
{% endfor %}
